@media only screen and (min-width: 1200px) and (max-width: 1360px){
    .center { width: 1200px; margin: 0 auto; padding:0 50px;box-sizing: border-box;}
    #in_activity{width:50%;height:700px;}
    #in_member{width:48%;height:335px;}
    #in_brand{width:48%;height:335px;margin-top:30px;}
    #in_member .title , #in_brand .title{width:90%;}
    #in_member .title .linel,#in_member .title .liner{width:20%;}
    #in_brand .title .linel,#in_brand .title .liner{width:20%;}
    #in_member .title .text,#in_brand .title .text{width:60%;}
    #in_designer .title:after,#in_designer .title:before{width: 300px}
    .tojoin .t-inner .t-content ul.flow li{ margin-left: 94px;}
    .furniture .fu-content .fu-inner .fu-title:after,.furniture .fu-content .fu-inner .fu-title:before{width: 30%;}
    .redstar .re-inner>img{width:350px}
    .redstar .re-inner .border .bo-font{width: 650px;}

    #about .abt-txt h2{width:75%;}
    #about .abt-box3{height:500px;}
    #about .abt-box3:before{border-right:1070px solid transparent;border-top:156px solid #f9f9f9;}
    #about .abt-box3 .abt-txt{padding: 130px 20px 0 360px;}
    #about .abt-box4 .abt-pic{width:40%;}
    #about .abt-box4 .abt-txt{padding:30px 40px 0 0;}
    .st-inner .siner .s-stylist .stylist{width: 900px;}
    .st-inner .siner .s-stylist{height: 480px;margin-bottom: 0;}
    .st-inner .siner .s-stylist .stylist ul li{  width: 270px;padding: 0 25px;}
    .st-inner .siner{padding-bottom: 0}

    .relation .re-inner .serve{width: 100%}
}
@media only screen and (max-width: 1360px){
.tojoin .t-inner .t-content .condition img{width: 100%}
.tojoin .t-inner .t-content .condition .c-font{width: 100%}
}
@media only screen and (min-width: 1200px) and (max-width: 1500px){
    #in_designer .prent{left: 60px}
    #in_designer .next{right: 95px}
}
@media only screen and (min-width: 700px) and (max-width: 1200px){
    #in_designer .prent{left: 0}
    #in_designer .next{right: 0;background: url(../images/icon07.png)no-repeat 30px center;}
    #in_designer .designer ul li{margin-right: 0;}
}
@media only screen and (min-width: 260px) and (max-width: 700px){
    #in_designer .prent{left: 0}
    #in_designer .next{right: 0;background: url(../images/icon07.png)no-repeat 30px center;}
    #in_designer .designer ul li{margin-right: 0;}
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    .redstar .re-inner>img{width:280px;margin-left: 5px;}
    .redstar .re-inner .border .bo-font{width: 530px;}
    .st-inner .siner .s-stylist{height: 370px;margin: 20px auto;}
    .st-inner .siner .s-stylist .stylist ul li{  width: 230px;padding: 0 15px;}

}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .redstar .re-inner>img{width:240px;}
    .st-inner .siner .s-stylist{height: 330px;margin: 20px auto;padding: 0 25px}
    .st-inner .siner{padding: 20px 0}
    .st-inner .siner .s-stylist .next{width: 30px;background-size: 25px}
    .st-inner .siner .s-stylist .prent{width: 30px;background-size: 25px}
    .st-inner .siner .s-stylist .stylist ul li{  width: 200px;padding: 0 15px;}

}
@media only screen and (max-width: 1000px) {
    .redstar .re-inner .border .ima{width: 100%}
    .redstar .re-inner .border .bo-font{width: 100%}
}
@media only screen and (max-width: 900px) {
    .redstar .re-inner .border .ima img{width: 48%;}
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
    .center { width: 100%;padding:0 50px;box-sizing: border-box;}
    #in_activity{width:50%;height:620px;}
    #in_member{width:48%;height:300px;}
    #in_brand{width:48%;height:300px;margin-top:20px;}
    #in_member .title , #in_brand .title{width:90%;}
    #in_member .title .linel,#in_member .title .liner{width:18%;}
    #in_brand .title .linel,#in_brand .title .liner{width:18%;}
    #in_member .title .text,#in_brand .title .text{width:64%;}
    .title .text h3{background-size: auto 20px!important;height:20px!important; }
    #in_brand .im_pic {background-size:auto 185px;height: 185px;}
    #in_designer .title:after,#in_designer .title:before{width: 150px}
    .tojoin .t-inner .t-content .relation .re-inner img{width: 100%}
    .tojoin .t-inner .t-content .relation .re-inner .font{width: 100%;padding-left: 30px;box-sizing: border-box}
    .furniture .fu-content .fu-inner .fu-title:after,.furniture .fu-content .fu-inner .fu-title:before{width: 20%;}
    .redstar .re-inner{padding: 27px 17px}
    .redstar .cl-inner .cl-title:after{width: 30%}
    .redstar .cl-inner .cl-title:before{width: 30%}
    .st-inner .siner .st-title:before{width: 30%}
    .st-inner .siner .st-title:after{width: 30%}
    .redstar .cl-title:after{width: 30%}
    .redstar .cl-title:before{width: 30%}
    /*ä¼ä¸šç®€ä»‹*/
    #about .abt-txt h2{width:85%;font-size: 20px;padding-bottom: 10px;}
    #about .abt-txt h2:before,#about .abt-txt h2:after{top:16px;}
    #about .abt-box1,#about .abt-box2,#about .abt-box3,#about .abt-box4{padding:0 20px;}
    #about .abt-txt p{margin:15px 0;line-height: 1.7em;}
    #about .abt-box2 .abt-pic{right:20px; width:300px;top:-170px;}
    #about .abt-box2 .abt-pic:before{left:-80%;width:70%;}
    #about .abt-box2 .abt-txt{padding:20px 300px 0 0;}
    #about .abt-box3{height:440px;border-right:20px solid #AF9D93;}
    #about .abt-box3:before{border-right:892px solid transparent;border-top:120px solid #f9f9f9;}
    #about .abt-box3 .abt-pic{width:300px;}
    #about .abt-box3 .abt-txt{padding: 100px 0 0 300px;}
    #about .abt-box4{padding:60px 20px 0;}
    #about .abt-box4 .abt-pic{width:45%;}
    #about .abt-box4 .abt-txt{padding:20px 30px 0 0;width:49%;}

    .st-inner .st-font{padding: 40px 10px;}
    .st-inner .st-font img{display: none}
    .st-inner .st-font .sfont{width: 100%}
    .st-inner .st-font .sfont h6{font-size: 18px;margin-bottom: 20px}
    .st-inner .st-font .sfont p{font-size: 16px;line-height: 30px}
    .st-inner .st-font .sfont a{font-size: 22px;background-size: 40px}

    .relation .re-inner .serve{width: 100%}


    .relation .re-inner .form{width: 100%;}
}
@media only screen and (min-width: 800px) and (max-width: 1040px) {
    .tojoin .t-inner .t-content ul.flow li{ margin-left: 90px;}
}
@media only screen and (min-width: 800px) and (max-width: 991px) {
    .center { width: 100%;padding:0 30px;box-sizing: border-box}
    #in_activity{width:50%;height:560px;}
    #in_member{width:48%;height:270px;}
    #in_brand{width:48%;height:270px;margin-top:20px;}
    #in_member .title , #in_brand .title{width:90%;}
    #in_member .title .linel,#in_member .title .liner{width:16%;}
    #in_brand .title .linel,#in_brand .title .liner{width:16%;}
    #in_member .title .text,#in_brand .title .text{width:68%;}
    .title .text h3{background-size: auto 17px!important;height:17px!important; }
    #in_member .im_pic {background-size:auto 100px;height: 100px;}
    #in_brand .im_pic {background-size:auto 160px;height: 160px;}
    #in_designer .title:after,#in_designer .title:before{width: 0}
    .tojoin .t-inner .t-content .relation .re-inner img{width: 100%}
    .tojoin .t-inner .t-content .relation .re-inner .font{width: 100%;padding-left: 30px;box-sizing: border-box}

    /*ä¼ä¸šç®€ä»‹*/
    #about .abt-txt h2{width:100%;font-size: 18px;padding-bottom: 0px;}
    #about .abt-txt h2 span{display: block;margin:0 auto; width:66%;}
    #about .abt-txt h2:before,#about .abt-txt h2:after{top:13px;width:16%;}
    #about .abt-box1,#about .abt-box2,#about .abt-box3,#about .abt-box4{padding:0 20px;}
    #about .abt-txt p{margin:10px 0;line-height: 1.6em;font-size: 13px;}
    #about .abt-box1 .abt-txt{padding-left: 30px;}
    #about .abt-box1 .abt-pic{height:300px;}
    #about .abt-box2 .abt-pic{right:20px; width:300px;top:0;}
    #about .abt-box2 .abt-pic:before{width:0;}
    #about .abt-box2 .abt-txt{padding:20px 320px 0 0;min-height: 320px;}
    #about .abt-box3{height:400px;border-right:15px solid #AF9D93;}
    #about .abt-box3:before{border-right:700px solid transparent;border-top:200px solid #f9f9f9;}
    #about .abt-box3 .abt-pic{width:220px;}
    #about .abt-box3 .abt-txt{padding: 140px 0 0 220px;}
    #about .abt-box3 .abt-txt p{font-size: 12px;line-height: 1.5em;margin:10px 0;}
    #about .abt-box4{padding:60px 20px 0;}
    #about .abt-box4 .abt-pic{width:45%;}
    #about .abt-box4 .abt-txt{padding:0 20px 0 0;width:48%;}
}


@media only screen and (max-width: 800px) {
    .center { width: 100%;padding:0 10px;box-sizing: border-box}
    #content{padding:20px 0;}
    #in_activity{width:100%;height:370px;}
    #in_member{width:100%;height:280px;margin-top:20px;}
    #in_brand{width:100%;height:280px;margin-top:20px;}
    #in_member .title , #in_brand .title{width:90%;}
    #in_member .title .linel,#in_member .title .liner{width:16%;}
    #in_brand .title .linel,#in_brand .title .liner{width:16%;}
    #in_member .title .text,#in_brand .title .text{width:68%;}
    #in_member .im_pic {background-size:auto 100px;height: 100px;}
    #in_brand .im_pic {background-size:auto 160px;height: 160px;}
    #in_designer .title:after,#in_designer .title:before{width: 0;}
    #in_designer{padding: 20px 0}
    #in_designer .title{font-size: 20px;margin-top: 0;}
    #in_designer .designer{height: 220px;}
    #in_designer .next{ height: 250px;}
    .footer{height: auto;}
    .footer:after,.footer .f-nav:after{display: none}
    .footer .f-nav{width: 100%;height: auto;}
    .footer .f-nav li{
        display: block;
        height: 35px;
        border-bottom: 1px solid #333;
    }
    .footer .f-nav li a{
        display: block;
        line-height: 35px;
        text-align: center;
    }
    .tojoin .t-inner .t-content h5{
        font-size: 15px;
    }
    .tojoin .t-inner .t-content .relation .re-inner img{width: 100%}
    .tojoin .t-inner .t-content .relation .re-inner .font{width: 100%;padding-left: 10px;box-sizing: border-box}
    .statement .s-inner .font{padding: 20px 20px;}
    .furniture .fu-content .fu-inner .fu-title:after,.furniture .fu-content .fu-inner .fu-title:before{width: 0;}
    .furniture .fu-content .fu-inner h3{font-size: 22px;}
    .furniture .fu-content .fu-inner .fu-title{font-size: 18px;}
    .redstar .re-inner>img{width:100%;margin-left: 0;}
    .redstar .re-inner{padding: 27px 10px}
    .redstar .cl-inner .cl-title:before{width: 0}
    .redstar .cl-title:before{width: 0}
    .st-inner .siner .st-title:before{width: 0}
    .redstar .cl-inner .cl-title:after{width: 0}
    .st-inner .siner .st-title:after{width: 0}
    .redstar .cl-title:after{width: 0}
    .redstar .cl-inner .cl-title{ font-size: 18px;}
    .redstar .cl-title{ font-size: 18px;}
    .st-inner .siner .st-title{ font-size: 18px;}

    #about .abt-txt h2{width:100%;font-size: 18px;padding-bottom: 0px;}
    #about .abt-txt h2 span{display: block;margin:0 auto; width:66%;}
    #about .abt-txt h2:before,#about .abt-txt h2:after{top:13px;width:16%;}
    #about .abt-box1,#about .abt-box2,#about .abt-box3,#about .abt-box4{padding:0 10px;box-sizing: border-box;}
    #about .abt-txt p{margin:10px 0;line-height: 1.6em;font-size: 14px;}
    #about .abt-box1 .abt-txt{padding: 30px 0 0;}
    #about .abt-box1 .abt-pic{height:300px;float: none;}
    #about .abt-box2 .abt-pic{right:50%; width:300px;top:0;margin-right:-150px;}
    #about .abt-box2 .abt-pic:before{width:0;}
    #about .abt-box2 .abt-txt{padding:320px 0 0 0;}
    #about .abt-box3{height:auto;border-right:0px solid #AF9D93;background-color: #f9f9f9;}
    #about .abt-box3:before{border-right:700px solid transparent;border-top:200px solid #f9f9f9;}
    #about .abt-box3 .abt-pic{width:300px;left:50%;top:0;bottom:auto; margin-left:-150px;}
    #about .abt-box3 .abt-txt{padding: 380px 0 0 0;}
    #about .abt-box4{position: relative;}
    #about .abt-box4 .abt-pic{width:100%;position: absolute;top:30px;left:0;height: 180px;overflow: hidden;}
    #about .abt-box4 .abt-pic img{max-height: 100%;}
    #about .abt-box4 .abt-txt{padding:230px 0 0 0;width:100%;float: none;}
    .cu-inner{padding: 10px;text-align: center}
    .cu-inner .ciner img{
        width: 80%;
    }
    .cu-inner .ciner ul{
        text-align: left;
        float: none;
        width: 100%;
    }
    .cu-inner .ciner ul li{padding-left: 10px;box-sizing: border-box}
    .st-inner{padding: 10px}
    .st-inner .siner{padding: 15px 0;}
    .st-inner .siner .s-stylist{height: 260px;margin: 20px auto;padding: 0 20px}
    .st-inner .siner .s-stylist .next{width: 20px;background-size: 20px}
    .st-inner .siner .s-stylist .prent{width: 20px;background-size: 20px}
    .st-inner .siner .s-stylist .stylist ul li{  width: 150px;padding: 0 15px;}


    .st-inner .st-font{padding: 10px 0;}
    .st-inner .st-font img{display: none}
    .st-inner .st-font .sfont{width: 100%}
    .st-inner .st-font .sfont h6{font-size: 16px;margin-bottom: 20px}
    .st-inner .st-font .sfont p{font-size: 14px;line-height: 30px}
    .st-inner .st-font .sfont a{font-size: 18px;background-size: 30px;margin: 0 auto; margin-top: 5px; }

    .relation .re-inner ul li,.relation .re-inner ul li:first-child+li+li {
        width: 49%;float: left;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .relation .re-inner ul li:first-child+li,.re-inner ul li:first-child+li+li+li{
        width: 49%;float: right;
    }
    .relation .re-inner .serve{width: 100%}
    .relation .re-inner .serve span{float: none;width: 100%}

    .relation .re-inner .form{width: 100%;}
    .relation .re-inner .form ul.ful>li{float: none;width: 100%}
}
@media only screen and (max-width: 710px) {
    .tojoin .t-inner .t-content ul.flow li{margin-left: 150px }
}
@media only screen and (max-width: 600px) {
    .tojoin .t-inner .t-content ul.flow li{margin: 0 auto;margin-bottom: 40px;float: none }
    .st-inner .siner .st-title{margin-bottom: 5px}
    .st-inner .siner .s-stylist{height: 230px;margin: 5px auto;padding: 0 15px}
    .st-inner .siner .s-stylist .next{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .prent{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .stylist ul li{  width: 115px;padding: 0 15px;margin-bottom: 20px}
}
@media only screen and (min-width: 360px) and (max-width: 500px) {
    .center { width: 100%;padding:0 10px;box-sizing: border-box}
    #in_designer .prent{background-size: 29px; top: -76px;width: 40px}
    #in_designer .next{background-size: 29px; top: -76px;background-position: right center;width: 40px}
    .tojoin .t-inner .t-content ul.img img{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .tojoin .t-inner{
        padding: 0 10px 30px 10px;
    }

    .st-inner .siner .st-title{margin-bottom: 5px}
    .st-inner .siner .s-stylist{height: 170px;margin: 5px auto;padding: 0 15px}
    .st-inner .siner .s-stylist .next{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .prent{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .stylist ul li{  width: 90px;padding: 0 10px;margin-top: 20px}

}
@media only screen and (max-width: 359px) {
    .center { width: 100%;padding:0 10px;box-sizing: border-box}
    #in_designer .prent{background-size: 19px; top: -76px;width: 40px}
    #in_designer .next{background-size: 19px; top: -76px;background-position: right center;width: 40px}
    .tojoin .t-inner .t-content h5{
        font-size: 13px;
    }
    .tojoin .t-inner .t-content ul.img img{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .tojoin .t-inner{
        padding: 0 10px 30px 10px;
    }

    .st-inner .siner .st-title{margin-bottom: 5px}
    .st-inner .siner .s-stylist{height: 150px;margin: 5px auto;padding: 0 15px}
    .st-inner .siner .s-stylist .next{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .prent{width: 15px;background-size: 15px}
    .st-inner .siner .s-stylist .stylist ul li{  width: 78px;padding: 0 5px;margin-top: 20px}
}

@media only screen and (max-width: 500px) {
    .tojoin .t-inner .t-title:before{right: 0;}
    .redstar .re-inner .border .bo-font .bo-title:after{width: 0;}
    .redstar .re-inner .border .bo-font .bo-title:before{width: 0;}
    .redstar .re-inner .border .bo-font .bo-title{font-size: 20px;}
    .redstar .re-inner .border .bo-font .bo-title{width: 100%;}
    .redstar ul.ul li{width: 100%}
    .cu-inner .ciner img{
        width: 100%;
    }

    .relation .re-inner ul li,.relation .re-inner ul li:first-child+li+li {
        width: 100%;float: none;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .relation .re-inner ul li:first-child+li,.re-inner ul li:first-child+li+li+li{
        width: 100%;float: none;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .relation .re-inner{ padding: 0 10px 10px 10px}
    .relation .re-inner .serve{width: 100%;padding: 10px 10px 0 10px; }
    .relation .re-inner .serve span{float: none;width: 100%}
    .relation .re-inner .serve h6{margin-top: 10px}

    .relation .re-inner .form{width: 100%;}
    .relation .re-inner .form ul.ful>li{float: none;width: 100%}
    .relation .re-inner .form ul.ful li:last-child textarea{width: 70%}
    .relation .re-inner .form ul.ful li input{width: 260px;}
    .relation .re-inner .re-title:before{display: none}
    .relation .re-inner{margin: 0 auto}
}
@media only screen and (max-width: 350px) {
    .relation .re-inner .form ul.ful li input{width: 224px;}
}